.table-content .table-title .table-title-heading {
    position: relative;
    top: 200px;
    align-content: center;
    font: Times new Roman;
    font-weight: 800;
    color: black;
}
.table-content .room-table {
    position: relative;
    top: 300px;
    left: 1rem;
}

.table-content .room-table .room-table-rows .room-table-cell {
    font: ;
    font-weight: 300;
    color: firebrick;
    font-style: italic;
    
}