<section class="table-content">
   <div>
       <a class="table-title">
            <h1 class="table-title-heading">Rooms</h1>
            <button class="new-room-button" ng-click="home.open()">New Room</button>
       </a>
   </div>
   <div>
        <table class="room-table">
            <tr class="room-table-rows" ng-repeat="room in home.rooms">
                <td>
                    <a ng-click="home.getRoom(room)" class="room-table-cell">{{ room.name }}
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="chat-heading">
        <h3>{{ home.currentRoom.name }}</h3>
        <p class="chat-messages" ng-repeat="message in home.messages">
            <strong> {{ message.username }} ({{ message.sentAt | date : 'h:mm' }}):</strong> {{ message.content }}
        </p>
    </div>
    <form class="message-form" ng-submit="home.sendMessage(newMessage)">
		<div class="new-message">
			<input type="text" class="new-message-box" ng-model="newMessage">
		</div>
		<button class="new-message-button" type="button" ng-click="home.sendMessage(newMessage)">Send</button>
	</form>
</section>
